[runtime]
environment="development"

[database]
host="localhost"
port="5432"
user="postgres"
password="postgres"
dbname="dating_app"
migrationDir="misc/migrations/sql"
sslMode="disable"
connectionTimeout="5"

[context]
timeout="5"

[access_token]
secret="something-secret"
timeout="60"

[server]
logLevel="fromenv"
appEnv="development"
address=":8080"

[redis]
host="localhost"
port="6379"
password=""
database=""
timeout="10s"
ssl="false"